@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #000000;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --white: white;
    --dark-gray: #555;
    --max-width: 1280px;
    --transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;

    --z-sticky: 1000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
}

/* Header Section(Nav bar) */
.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: var(--z-sticky);
    background: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.8);
}

/* navbar container section */
.navbar-container {
    padding: 0.8rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

/* navbar logo/name section */
.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.75rem;
    color: var(--text-color);
    text-decoration: none;
}

.navbar-logo img {
    width: auto;
    height: 1.95rem;
    object-fit: contain;
}

.brand-name {
    font-size: 2.15rem;
    font-weight: bold;
    letter-spacing: -0.02em;
}

/* navbar items,links */
.navbar-list {
    display: flex;
    justify-content: center;
    gap: 1.55rem;
    list-style: none;
}

.navbar-links {
    color: var(--dark-gray);
    font-size: 1.125rem;
    font-weight: 600;
    transition: var(--transition);
    text-decoration: underline;
    text-decoration-color: transparent;
}

.navbar-links:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-thickness: 1.25px;
    text-decoration-color: var(--primary-color);
}

.nav-bar {
    display: none;
}

/* navbar actions */
.contact-us-btn {
    display: none;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.contact-us-btn:active {
    transform: var(--transform);
}

.contact-us-btn:hover {
    background-color: var(--link-color);
    transform: translateY(-1px);
}

/* menuButton */
.menu-btn {
    padding: 0.75rem 1.5rem;
    display: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
}

.menuIcon {
    width: auto;
    height: 1.5rem;
    object-fit: contain;
}

/*media quaries*/

/* navbar keyframes */
@media screen and (min-width:801px) {
    .nav-bar {
        display: flex;
    }

    .contact-us-btn {
        display: block;
    }
}

@media screen and (max-width:800px) {
    .menu-btn {
        display: block;
    }
}

/* Hero section */
/* .hero-container{
    display: flex;
} */
.main-section {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* left content */
.left-content {
    padding: 1rem;
    flex: 1;
    animation: rightMovement 1s ease forwards;
}

@keyframes rightMovement {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--accent-color);
    line-height: 1.55;
}

.section-title {
    padding-block: 1rem;
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: bold;
}

.section-description {
    color: var(--gray);
    font-size: 1.151rem;
    font-weight: 600;
    line-height: 1.9;
}

/* right content */
.right-content {
    flex: 1;
    overflow: hidden;
    border-radius: 1.5rem;
}

.content-image img {
    width: 100%;
    max-width: 100rem;
    height: auto;
    object-fit: cover;
}

.btn-group {
    margin-top: 1rem;
    padding: 1rem 0rem;
    display: flex;
    gap: 3rem;
}

.start-btn {
    padding: 0.8rem 1.5rem;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
}

.takeTour-btn {
    padding: 0.8rem 1.5rem;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--dark-gray);
    color: var(--white);
    text-decoration: none;
}

.company-section {
    margin-block: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: rightMovement 1s ease forwards;
}

.company-container {
    margin-top: 1rem;
    padding: 1.8rem 1.5rem;
    display: grid;
    background-color: var(--light-gray);
    border-radius: 1rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.companiesHeader {
    font-size: 2.2rem;
}

.companies-logo {
    width: auto;
    height: 1.5rem;
    object-fit: cover;
}

.companies-name {
    font-size: 1.125rem;
    font-weight: bold;
}

@media screen and (max-width:974px) {

    .brand-name {
        font-size: 1.5rem;
    }

    .navbar-logo img {
        height: 1.465rem;
        gap: 0rem;
    }

    .main-section {
        text-align: center;
        flex-direction: column;
        gap: 0rem;
    }

    .section-title {
        font-size: 2rem;
        font-weight: bold;
    }

    .section-description {
        font-size: 1rem;
        line-height: 1.65;
    }

    .btn-group {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .start-btn,
    .takeTour-btn {
        width: 100%;
        max-width: 30rem;
    }

    .start-btn {
        padding: 1rem 1.5rem;
        font-size: small;
    }

    .right-content {
        max-width: 50rem;
    }

    .takeTour-btn {
        padding: 1rem 1.5rem;
        font-size: small;
    }

    .company-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .companiesHeader {
        font-size: 1.8rem;
    }
}

/* blog Section */
.blog {
    background-color: var(--light-gray);
}

.blog-Wrapper {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.blog-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* blog heading and description */
.blog-mainHeader {
    font-size: 2.2rem;
}

.blog-mainCaption {
    color: var(--gray);
    font-size: 1rem;
}

.blog-grid {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.blog-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
    color: var(--white);
}

.blog-card-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
}

.blog-card-icon img {
    width: 2rem;
    height: 2rem;
}

.blog-card:nth-child(1) {
    background-color: #4a90e2;
}

.blog-card:nth-child(2) {
    background-color: #FF6289;
}

.blog-card:nth-child(3) {
    background-color: #fcbf58;
}

.blog-card:nth-child(4) {
    background-color: #44bfc3;
}

.blog-card:nth-child(5) {
    background-color: #77b05d;
}

.blog-card:nth-child(6) {
    background-color: #7d78b1;
}

.blog-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.blog-card-body h3 {
    font-size: 1.3rem;
}

@media screen and (max-width:400px) {
    .blog-mainHeader {
        font-size: 1.63rem;
    }

    .blog-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .blog-card-body h3 {
        font-size: 1.3rem;
    }

    .blog-card-body p {
        font-size: 0.85rem;
    }
}

/* testimonial section */
.testimonial-section {
    background-color: var(--background-color);
    padding: 2rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.testimonial-title {
    font-size: 2.2rem;
}

/* testimonial grid */
.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.testimonial-card {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    border: 1px solid transparent;
    border-radius: 1rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    transition: var(--transition);
}

.testimonial-card:hover {
    transform: translateY(-4px);
    border: 1px solid blue;
}

.testimonail-avatar {
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 6rem;
}

.testimonail-avatar img {
    width: 5rem;
    height: 5rem;
}

.testimonial-author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-text {
    font-size: 0.875rem;
    color: var(--gray);
}

.testimonial-author h3 {
    font-size: 1rem;
    color: var(--accent-color);
}

.testimonial-author p {
    font-size: 1rem;
    color: var(--gray);
}

/* news letter */
.newsletter {
    padding: 2rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

.newsletter-container {
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    overflow: hidden;
    background-color: var(--light-gray);
}

.newsletter-image {
    flex: 1.5;
}

.newsletter-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
    object-fit: cover;
    /* object-position: center; */
}

/* right content */

.newsletter-content {
    flex: 1;

    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 0.5rem;  */
}

.newsletter-content h2 {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.subtitle {
    font-size: 1rem;
    color: var(--text-muted);
    margin-bottom: 1.5rem;
}

.newsletter-form {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.newsletter-form input {
    flex: 1;
    padding: 0.65rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 0.95rem;
}

.newsletter-form input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.newsletter-form button {
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 0.65rem 1.25rem;
    font-size: 0.95rem;
    cursor: pointer;
}

.newsletter-form button:hover {
    opacity: 0.9;
}

.terms {
    font-size: 0.75rem;
    color: var(--gray);
    line-height: 1.4;
}

.terms a {
    color: var(--text-color);
    text-decoration: underline;
}

@media screen and (max-width:850px) {
    .newsletter-container {
        flex-direction: column;
    }

    .newsletter-image {
        height: 220px;
    }

    .newsletter-content {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .newsletter-content h2 {
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .subtitle {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 480px) {
    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form button {
        width: 100%;
    }

    .testimonials-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .testimonial-title {
        font-size: 2rem;
    }

    .testimonial-text {
        font-size: 0.775rem;
    }

    .testimonial-author h3 {
        font-size: 1rem;
        color: var(--accent-color);
    }

    .testimonial-author p {
        font-size: 0.9rem;
        color: var(--gray);
    }

    .newsletter-content h2 {
        font-size: 1.6rem;

    }

    .subtitle {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }

    .newsletter-container {
        align-items: normal;
    }
}

/* footer Section */
footer {
    
    background-color: var(--light-gray);
}

.footer {
    padding: 1rem;
    margin: 0 auto;
    max-width: var(--max-width);
    display: flex;
    gap: 1rem;
}

/* left footer comtent */

.footer-brand {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 1.5rem;
}

.footer-icon {
    display: flex;
    gap: 0.4rem;
}

.footer-icon img {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    object-fit: cover;
}

.footer-icon span {
    font-size: 1.2rem;
    font-weight: bolder;
}

.footer-brand p {
    font-size: 0.9rem;
    font-weight: 550;
    color: var(--dark-gray);
}

.social-links {
    display: flex;
    gap: 1rem;
}


/* right footer content */
.footer-nav {
    padding: 1rem;
    flex: 1.5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.8rem;
}

.footer-nav div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-nav h3 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark);
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
}

.footer-nav li {
    list-style: none;
}

.footer-nav a {
    padding: 0.25rem 0;
    font-size: 0.9rem;
    font-weight: 550;
    color: var(--dark-gray);
    text-decoration: none;
}
.footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 2rem;
    padding: 1rem;
    font-size: 0.85rem;
    color: var(--dark-gray);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
}
